In [1]:
l = [1,2,3,4,4,5]
l[0]

1

In [2]:
for i in l :
    print(i)

1
2
3
4
4
5

In [3]:
l

[1, 2, 3, 4, 4, 5]

In [4]:
for i in l :
    print(i**2)

1
4
9
16
16
25

In [5]:
for sudh in l :
    print(sudh**2)

1
4
9
16
16
25

In [6]:
l

[1, 2, 3, 4, 4, 5]

In [8]:
l1 = []
for i in l:
    l1.append(i**2)
    print(l1)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 16]
[1, 4, 9, 16, 16, 25]

In [9]:
s = "sudhanshu"
for i in s :
    print(i)

s
u
d
h
a
n
s
h
u

In [10]:
s = "sudhanshu"
l2 = []
for i in s :
    l2.append(i)
l2

['s', 'u', 'd', 'h', 'a', 'n', 's', 'h', 'u']

In [11]:
l

[1, 2, 3, 4, 4, 5]

In [13]:
l_even = []
l_odd = []
for i in l :
    if i % 2 == 0 :
        l_even.append(i)
    else :
        l_odd.append(i)

l_even,l_odd

([2, 4, 4], [1, 3, 5])

In [14]:
t = (3,4,5,6,7)
for i in t :
    print(i)

3
4
5
6
7

In [18]:
s = {3,4,5,6,7,7,8,8,8,9,9,2,3,4,"sudh" , "sudhanshu" , 34.56}

In [19]:
s

{2, 3, 34.56, 4, 5, 6, 7, 8, 9, 'sudh', 'sudhanshu'}

In [20]:
for i in s :
    print(i)

2
3
4
5
6
7
8
9
sudhanshu
34.56
sudh

In [21]:
d = {"name" :"sudh" , "email_id" :"sskumar9876@gmail.com" , "phone_no" : 234243242}

In [22]:
d.keys()

dict_keys(['name', 'email_id', 'phone_no'])

In [23]:
d.values()

dict_values(['sudh', 'sskumar9876@gmail.com', 234243242])

In [24]:
d.items()

dict_items([('name', 'sudh'), ('email_id', 'sskumar9876@gmail.com'), ('phone_no', 234243242)])

In [25]:
for i in d.keys():
    print(i)

name
email_id
phone_no

In [26]:
for i in d.values():
    print(i)

sudh
sskumar9876@gmail.com
234243242

In [27]:
for i in d.items():
    print(i)

('name', 'sudh')
('email_id', 'sskumar9876@gmail.com')
('phone_no', 234243242)

In [28]:
d

{'name': 'sudh', 'email_id': 'sskumar9876@gmail.com', 'phone_no': 234243242}

In [29]:
d["name"]

'sudh'

In [30]:
for i in d.keys():
    print(d[i])

sudh
sskumar9876@gmail.com
234243242

In [31]:
range(10)

range(0, 10)

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
range(0,50)

range(0, 50)

In [35]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
list(range(0,20,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
list(range(20,0,-4))

[20, 16, 12, 8, 4]

In [40]:
for i in range(20,0,-4):
    print(i)

20
16
12
8
4

In [41]:
l = ["sudh" ,"kumar" , "python","javascript","java","c++"]

In [43]:
for i in enumerate(l):
    print(i)

(0, 'sudh')
(1, 'kumar')
(2, 'python')
(3, 'javascript')
(4, 'java')
(5, 'c++')

In [44]:
for index,data  in enumerate(l):
    print(index , data)

0 sudh
1 kumar
2 python
3 javascript
4 java
5 c++

In [48]:
l1= [1,2,3,4]
l2 = ["sudh" , "kumar" , "sudhanshu","python"]
for i in zip(l1,l2):
    print(i)

(1, 'sudh')
(2, 'kumar')
(3, 'sudhanshu')
(4, 'python')

In [49]:
s = "sudhashu"
s[::-1]

'uhsahdus'

In [50]:
for i in reversed(s):
    print(i)

u
h
s
a
h
d
u
s

In [52]:
l = [3,4,5,6,7,8]

In [53]:
sum(l)

33

In [54]:
a = 0 
for i in l :
    a = a + i
a

33

In [55]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
a= 0
b = 1
for i in range(10):
    print(a)
    a,b = b ,a+b

0
1
1
2
3
5
8
13
21
34

In [57]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
number = int(input("enter a number for which you would like to see a table "))
for i in range(1,11):
    print(f"{number} * {i} = {number*i}")

41 * 1 = 41
41 * 2 = 82
41 * 3 = 123
41 * 4 = 164
41 * 5 = 205
41 * 6 = 246
41 * 7 = 287
41 * 8 = 328
41 * 9 = 369
41 * 10 = 410

In [61]:
for i in range(5):
    print("*"*(i+1))

*
**
***
****
*****

In [62]:
for i in range(5):
    print("S"*(i+1))

S
SS
SSS
SSSS
SSSSS