In [1]:
len("sudh")

4

In [2]:
l = [34,4,5546]
s = "sudh"

In [3]:
def test():
    pass

In [4]:
test()

In [5]:
def test1():
    print("thsi is my fist function")

In [6]:
test1()

thsi is my fist function

In [7]:
test1()

thsi is my fist function

In [8]:
test1()

thsi is my fist function

In [9]:
test1()

thsi is my fist function

In [10]:
def test1():
    print("thsi is my fist function")

In [12]:
test1() + "sudh"

thsi is my fist function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
def test2():
    return "this is a return of my function"

In [16]:
test2() + "   sudh"

'this is a return of my function   sudh'

In [17]:
def test3():
    return 354345

In [20]:
test3()

354345

In [21]:
type(test3())

int

In [22]:
def test4():
    return 2,3,4,5,"sudh" , [3,4,5,6] ,True

In [23]:
test4()

(2, 3, 4, 5, 'sudh', [3, 4, 5, 6], True)

In [24]:
type(test4())

tuple

In [25]:
def test5():
    return 4,5,6,"sudh"

In [27]:
a = test3()

In [29]:
a *10

3543450

In [32]:
a,b,c,d = test5()

In [31]:
a

(4, 5, 6, 'sudh')

In [33]:
a

4

In [34]:
b

5

In [35]:
c

6

In [36]:
d

'sudh'

In [37]:
def test6():
    i = 0 
    j = 2
    return i+j

In [38]:
test6()

2

In [39]:
def test7():
    l = [3,4,5,6,7]
    sum = 0 
    for i in l :
        sum = sum +i
    return sum

In [40]:
test7()

25

In [41]:
test7()

25

In [46]:
def sum_list_with_integer(l):
    sum = 0 
    for i in l :
        sum = sum +i
    return sum

In [47]:
sum_list_with_integer([4,5,6,6,7,8,89,9,9,9])

152

In [48]:
sum_list_with_integer([2,3,4,5])

14

In [49]:
def test9(a,b,c):
    return a+b+c

In [50]:
test9("sudh " , "kumar " , "python")

'sudh kumar python'

In [51]:
test9(32,"sudh" ,True)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
def test10(a:str , b :int , c :str) :
    return a,b,c

In [53]:
test10("sudh" , 34,"kumar")

('sudh', 34, 'kumar')

In [59]:
def test10(a:str , b :int , c :str) :
    return a,b,c

In [56]:
test10()

TypeError: test10() missing 3 required positional arguments: 'a', 'b', and 'c'