In [1]:
number = [3,4,5,6,5,6,7,7] 
square = map(lambda x : x**2 , number)

In [3]:
list(square)

[9, 16, 25, 36, 25, 36, 49, 49]

In [4]:
def test(x ):
    return x**2

In [6]:
list(map(test,number))

[9, 16, 25, 36, 25, 36, 49, 49]

In [8]:
l = ["sudhanshu" , "kumar" , "python" , "java"]
def uppercase(a):
    return a.upper()

list(map(uppercase, l))

['SUDHANSHU', 'KUMAR', 'PYTHON', 'JAVA']

In [10]:
l = ["4" , "4" , "60","23"]
tuple(map(lambda x : int(x) , l))

(4, 4, 60, 23)

In [12]:
l1 = [3,4,5,6]
l2 = [4,5,6,7]
list(map(lambda x,y : x + y , l1,l2))

[7, 9, 11, 13]

In [13]:
from functools import reduce

In [18]:
l = [3,4,5,6,6,7,4]
sum(l)

35

In [19]:
reduce(lambda x , y : x+ y , l)

35

In [20]:
reduce(lambda x , y , z : x+ y+z , l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [17]:
l

[3, 4, 5, 6, 6, 7]

In [22]:
l1 = []
reduce(lambda x , y  : x+ y , l1)

TypeError: reduce() of empty iterable with no initial value

In [23]:
l1 = [1]
reduce(lambda x , y  : x+ y , l1)

1

In [25]:
l = [4,5,6,7,8,8,89,345,546,56,565]
max(l)

565

In [26]:
reduce(lambda x,y : x if x>y else y ,l )

565

In [27]:
l = ["sudh" , "kumar" , "python"]
reduce(lambda x,y : x+ y , l )

'sudhkumarpython'

In [28]:
def concat(x,y):
    return x+y

In [29]:
reduce(concat,l)

'sudhkumarpython'

In [33]:
l = [[2,3,4,5] , [3,4,5,6] , [6,7,8,9,3,4]]
reduce(lambda x,y : set(x) & set(y) , l)

{3, 4}

In [35]:
l = [4,5,6,7,7,8,89,8,9,6,6,2,3,3,4,5]
list(filter(lambda x : x % 2 !=0 , l))

[5, 7, 7, 89, 9, 3, 3, 5]

In [36]:
l =["", "sudh" ,"" , "kumar"]

In [38]:
list(filter(None, l ))

['sudh', 'kumar']

In [39]:
l = [-4,-4,345,546,324,-45,-43,-344,354]
list(filter(lambda x : x < 0 , l ))

[-4, -4, -45, -43, -344]

In [40]:
l = [None, 1,"hello" , "sudh" , None , 23,45.56, True]
list(filter(None,l))

[1, 'hello', 'sudh', 23, 45.56, True]

In [41]:
l = [2,1,2,3,4,5,6,7,7]
list(map(lambda x :x**2 , filter(lambda x : x%2 ==0,l)))

[4, 4, 16, 36]

In [42]:
l = [2,1,2,3,4,5,6,7,7]
reduce(lambda x , y :x+y , list(map(lambda x :x**2 , filter(lambda x : x%2 ==0,l))))

60