In [1]:
a = 10
a = "sudh"
a = True

In [2]:
b = 34.56
b = [2,3,4,5,6]

In [3]:
type(b)

list

In [4]:
c = "sudh"
d = 10
c+d

TypeError: can only concatenate str (not "int") to str

In [5]:
c + str(d)

'sudh10'

In [6]:
e = "sudh"*3

In [7]:
e

'sudhsudhsudh'

In [8]:
l = [2,3,4,5,6]*3

In [9]:
l

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

In [11]:
l +9

TypeError: can only concatenate list (not "int") to list

In [12]:
l+ "sudh"

TypeError: can only concatenate list (not "str") to list