In [2]:
name ="sudh"
text = "hello sudh"

In [3]:
name = "sudh"
text = "hello %s " %name

In [4]:
text

'hello sudh '

In [5]:
name = input("enter your name")
text = "hello %s " %name

In [6]:
text

'hello sudhanshu '

In [15]:
age = int(input("enter your age"))
text = "hello %d " %age

In [16]:
text

'hello 30 '

In [26]:
height = float(input("enter your age"))
text = "hello %.4f " %height

In [27]:
text

'hello 345.5657 '

In [28]:
name ="sudh"
age = 30
text = "%s  is %d year old" %(name ,age)

In [29]:
text

'sudh  is 30 year old'

In [30]:
name =input("enter your name")
age = int(input("enter your age"))
text = "%s  is %d year old" %(name ,age)

In [31]:
text

'sudhanshu  is 30 year old'

In [32]:
name = "sudh"
age = 30
text = "{} is {} year old".format(name , age)

In [33]:
text

'sudh is 30 year old'

In [35]:
name = "sudh"
age = 30
text = "{} is {} year old".format(age , name)

In [36]:
text

'30 is sudh year old'

In [37]:
name = "sudh"
age = 30
height = 345.56
text = "{name} is {age} year old and height is {height}".format(name = name , height = height , age= age)

In [38]:
text

'sudh is 30 year old and height is 345.56'

In [41]:
height = 345.565656565656
text = "my height is {:.2f}".format(height)

In [42]:
text

'my height is 345.57'

In [45]:
name = "sudh"
text = f"my name is {name}"

In [46]:
text

'my name is sudh'

In [47]:
a = 10 
b = 20
output = f"sum of a and b is {a+b}"

In [48]:
output

'sum of a and b is 30'